<div class="container">
<h1><%= @article.title %><small><%= link_to "âœï¸", edit_article_path %><%= link_to "ðŸ—‘", article_path, method: :delete, data: { confirm: "Are you sure?" } %></small></h1>

<hr>
<p><%= @article.content %></p>
</div>
